<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/new">New Message</a>
    </nav>
    <h1><%= title %></h1>

    <ul>
      <% messages.forEach(message => { %>
        <li>
          <h2><%= message.user %></h2>
          <p><%= message.text %></p>
          <b><%= message.creationDate %></b>

          <hr />
        </li>
      <%}) %>
    </ul>
  </body>
</html>
